<<<<<<< HEAD
body {
  font-family: Verdana, sans-serif;
  text-align: center;
  background-color: Black;
  color: White;
}
h1 {
  font-size: 50px;
}
.cta {
  color: Aquamarine;
  font-size: 16px;
}
h2 {
  font-size: 42px;
  font-weight: 300;
}
p {
  color: Gray;
  font-size: 21px;
}
.footer {
  text-align: right;
}
=======
body {
  font-family: Verdana, sans-serif;
  text-align: center;
  background-color: Black;
  color: White;
}
>>>>>>> b38ae5e38db6a4b946c9933e4d1216d09f89f397
